<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.CarritoComprasConnectionString"
            connectionString="Data Source=DESKTOP-E2PNLQ2\SQLEXPRESS;Initial Catalog=CarritoCompras;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.CarritoComprasConnectionString1"
            connectionString="Data Source=DESKTOP-OHV30DG\SQLEXPRESS;Initial Catalog=CarritoCompras;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>